<!-- show.html.erb -->
<% case @championship.estado %>
<% when 'preparacion' %>
  <%= render 'preparacion' %>
<% when 'en_progreso' %>
  <%= render 'en_progreso' %>
<% when 'finalizado' %>
  <%= render 'finalizado' %>
<% else %>
  <p>Estado desconocido</p>
<% end %>