<div id="<%= dom_id hole %>">
  <p>
    <strong>Number:</strong>
    <%= hole.number %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= hole.score %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= hole.round_id %>
  </p>

</div>
